.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 524px;
  height: 300px;
  display: flex;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  
}
.card:hover{
  border: 2px solid #ff0606;
}
.card-content {
  margin: auto;
  font-family: revert;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 0px;
  font-size: large;
  text-transform: capitalize;
}
